@use 'globals';

.full-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    margin-top: 5rem;
    background-color: globals.$main-background;
    height: calc(100% - 10rem);

    ul {
        margin: 0;
        padding: 0;
        height: 100%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        list-style: none;

        li {
            width: 100%;
            padding: 0.8rem 0 0.8rem 0.5rem;
            margin-bottom: 0.2rem;
            height: fit-content;
            font: 0.9rem globals.$main-font;
            color: globals.$main-font-color;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        li:last-child {
            margin: 0;
        }

        .status {
            background-color: globals.$exit-enter-alert-background;
        }

        .message {
            background-color: globals.$message-background;
        }

        .reserved {
            background-color: globals.$private-message-background;
        }

        b {
            font-weight: 700;
            margin: 0 0.3rem;
        }

        span {
            color: globals.$timestamp-color;
        }
    }
}